.grid-container {
    display: grid;
    align-content: center;
    grid-template-columns: auto auto auto;
    gap: 10px;
    max-width: 70rem;
    align-items: center;
    justify-content: space-evenly;
}

body {
	background-image: url('./office_space.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.grid-item {
    padding: 20px;
    text-align: center;
    width: 20rem;
}

h1 {
    text-align: center;
    color: black;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h2 {
	color: white;
	text-shadow: 2px 2px 0px black;
}

body {
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
}

.form-style-3{
    max-width: auto;
    margin: auto;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-3 label{
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
	margin-bottom: 10px;
}
.form-style-3 label {
    color: black;
    font-weight: bold;
}
.form-style-3 label > span{
    float: left;
	width: auto;
	color: black;
	font-weight: bold;
	font-size: 13px;
	text-shadow: 1px 1px 1px #B8B8B8;
}
.form-style-3 fieldset{
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin: 0px 0px 10px 0px;
	border: 1px solid #BEBEBE;
	padding: 20px;
	background: #D3D3D3;
	box-shadow: inset 0px 0px 15px #D5D5D5;
	-moz-box-shadow: inset 0px 0px 15px #D5D5D5;
	-webkit-box-shadow: inset 0px 0px 15px #D5D5D5;
}
.form-style-3 fieldset legend{
	color: black;
	border-top: 1px solid #BEBEBE;
	border-left: 1px solid #BEBEBE;
	border-right: 1px solid #BEBEBE;
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	background: #D3D3D3;
	padding: 0px 8px 3px 8px;
	box-shadow: -0px -1px 2px #D5D5D5;
	-moz-box-shadow:-0px -1px 2px #D5D5D5;
	-webkit-box-shadow:-0px -1px 2px #D5D5D5;
	font-weight: normal;
	font-size: 12px;
}


.form-style-3 input[type=number] {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #BEBEBE;
	outline: none;
	color: black;
	padding: 5px 8px 5px 8px;
	box-shadow: inset 1px 1px 4px #BEBEBE;
	-moz-box-shadow: inset 1px 1px 4px #BEBEBE;
	-webkit-box-shadow: inset 1px 1px 4px #BEBEBE;
	background: #B8B8B8;
    width: 180px;
    float: left;
}

.results {
		text-align: left;
}

.button {
    background-color: #808080;
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    cursor: pointer;
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		margin: 43px;
}

.form-style-3 input:hover[type="submit"] {
	background-color: grey;
}